name: karito-admin-panel-${ENV}
services:
  web:
    build: 
      context: .
      dockerfile: ./Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${API_URL}
        NEXT_PUBLIC_SUBSCRIPTION_URL: ${SUBSCRIPTION_URL}
        NEXT_PUBLIC_BLOB_BASE_URL: ${BLOB_BASE_URL}
        ENV: ${ENV}
    container_name: karito-admin-panel-${ENV}
    ports:
      - '${PORT}:4500'
    environment:
      NODE_ENV: ${ENV}
      NEXT_PUBLIC_API_URL: ${API_URL}
      NEXT_PUBLIC_SUBSCRIPTION_URL: ${SUBSCRIPTION_URL}
      NEXT_PUBLIC_BLOB_BASE_URL: ${BLOB_BASE_URL}
    restart: unless-stopped
