html,
body {
	/*direction: rtl;*/
}
@font-face {
	font-family: 'Vazir';
	src: local('Vazir'), url(./fonts/Vazir-Light-FD-WOL.ttf) format('truetype');
}

.MuiOutlinedInput-notchedOutline,
.MuiButton-root,
.MuiCard-root {
	/*border-radius: 8px !important;*/
}

.MuiButtonBase-root {
	color: #fff;
}

.MuiFormHelperText-root {
	text-align: right;
}
