html,
body {
	/*direction: rtl;*/
}
@font-face {
	font-family: 'Vazir';
	src: local('Vazir'), url(./fonts/Vazir.ttf) format('truetype');
}
/*@font-face {
	font-family: 'Vazir';
	src: url('/fonts/Vazir.woff2') format('woff2'), url('/fonts/Vazir.woff') format('woff'),
		url('/fonts/Vazir.ttf') format('ttf');
}*/
.MuiOutlinedInput-notchedOutline,
.MuiButton-root,
.MuiCard-root {
	/*border-radius: 8px !important;*/
}

.MuiButtonBase-root {
	color: #fff;
}

.MuiFormHelperText-root {
	text-align: right;
}
li {
	text-align: right !important;
}
